POSTGRES_DBNAME=_
POSTGRES_USER=_
POSTGRES_PASSWORD=_
POSTGRES_HOST=_
POSTGRES_PORT=_

STORAGE_TYPE=AWS
DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
STATICFILES_STORAGE=storages.backends.s3boto3.S3Boto3Storage
AWS_STORAGE_BUCKET_NAME=_
AWS_S3_REGION_NAME=_
AWS_S3_ENDPOINT_URL=_
AWS_ACCESS_KEY_ID=_
AWS_SECRET_ACCESS_KEY=_

EMAIL_TYPE=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SERVER_EMAIL=
DEFAULT_FROM_EMAIL=